@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Raleway:wght@200&display=swap');
@font-face{
    font-family: "Raleway";
    src:  url("../fonts/Raleway-Thin.woff");
    src: url("../fonts/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway-Bold.woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
}
h1, h2, h3{
    font-family: "Lato", sans-serif;
    
}

header{
    text-align: center;
    background-color: brown;
    
}
body{
    height: 1400px;
    width: 1160px;
    margin: auto;
}
img{
    width: 70px;
    height: 70px;
}

.photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 5px;
    box-shadow: 0 0 7px 5px black;
}
.photo:hover{
    cursor: zoom-in;
}
h1, h2{
    color: white;
}

section{
    height: 1100px;
    display: flex;
    flex-direction: row;

}
.contacts{
    background-color: #2c1d27;
    height: 20px;
    text-align: center;
    margin-top: -20px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.about {
    background-color: #782221;
    display: flex;
    flex-direction: column;
    height: 1150px;
    width: 300px;
    padding-left: 15px;
}
h3{
    background-color: #dbc2a4;
    width: 270px;
}
.introduction{
    color: white;
    text-indent: 40px;
}
.language-list, .hobbies, .social-network{
    color: white;
}
.experience{
    height: 500px;
    width: 480px;
    padding-left: 20px;
}
.experience__title1, .experience__title2, .experience__title3{
    width: 820px;
}
footer{
    background-color: #782221;
    height: 170px;
    text-align: center;
    padding-top: 30px;
}
.linkedin, .twitter, .Github{
    opacity: 1;
}
.linkedin, .twitter, .Github:hover{
    opacity: 0.3;
}